/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #17223b;
  color: white;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navContainer {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #17223b;
}
@media (max-width: 500px) {
  .navContainer {
    justify-content: space-around;
  }
}
.navContainer a:hover {
  background-color: #263859;
  border-color: #263859;
}
.logo {
  font-family: 'Righteous', cursive;
  font-size: 2.5rem;
  color: white;
  padding-top: 20px;
  margin-left: 20px;
}
@media (max-width: 500px) {
  .logo {
    display: none;
  }
}
.btn {
  background-color: #17223b;
  border-color: #17223b;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 2rem;
}
@media (max-width: 600px) {
  .btn {
    margin-left: 40px;
  }
}
@media (max-width: 500px) {
  .btn {
    margin-left: 0;
  }
}
#active {
  text-decoration: underline;
}
footer {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 10px;
}
main {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  main {
    width: 90%;
  }
}
@media (max-width: 500px) {
  main {
    width: 100%;
  }
}
.top-content {
  display: flex;
  border-bottom: 1px solid #6b778d;
  padding-bottom: 2rem;
}
.top-content .intro {
  display: flex;
  flex-direction: column;
}
.top-content .intro img {
  padding: 2rem 0;
  width: 100%;
  height: 50rem;
  object-fit: cover;
}
@media (max-width: 800px) {
  .top-content .intro img {
    width: 100%;
    height: auto;
  }
}
.top-content .intro h1 {
  margin: 2rem 0;
}
@media (max-width: 500px) {
  .top-content .intro h1 {
    margin: 2rem 2rem;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .top-content .intro p {
    margin: 0 2rem;
  }
}
.top-content .intro button#experience-button {
  border: 1px solid white;
  border-radius: 5px;
  align-self: center;
  margin-left: 0px;
}
.experiences {
  display: block;
  margin: 2rem;
}
.experiences h2 {
  margin: 2rem 0;
}
@media (max-width: 500px) {
  .experiences h2 {
    text-align: center;
  }
}
.experiences .featured {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 1000px) {
  .experiences .featured {
    justify-content: space-between;
  }
}
@media (max-width: 500px) {
  .experiences .featured {
    flex-direction: column;
    align-items: center;
  }
}
.experiences .featured .card {
  background-color: #ff6768;
  width: 18rem;
}
@media (max-width: 500px) {
  .experiences .featured .card {
    margin: 2rem 0;
    width: 80%;
  }
}
.experiences .featured .card .card-body a {
  margin-left: 0px;
}
.experiences .featured .card img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.description {
  margin-top: 8rem;
}
.description h1 {
  margin: 2rem 0;
}
.team h2 {
  margin-top: 2rem;
}
.team .teammate {
  margin: 2rem 0;
}
.team .teammate h3 {
  font-size: 1.6rem;
}
#safetyHeader h1 {
  text-align: center;
  font-size: 6rem;
  margin-top: 200px;
}
@media (max-width: 500px) {
  #safetyHeader h1 {
    margin-top: 100px;
    font-size: 5rem;
  }
}
#safetyHeader h3 {
  text-align: center;
  font-size: 3rem;
  margin-top: 50px;
}
@media (max-width: 500px) {
  #safetyHeader h3 {
    font-size: 2.5rem;
    padding-left: 20px;
    padding-right: 20px;
  }
}
#safetyHeader img {
  display: block;
  height: auto;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}
@media (max-width: 500px) {
  #safetyHeader img {
    width: 80%;
  }
}
@media (max-width: 1000px) {
  #safetyHeader img {
    width: 80%;
  }
}
#safetyMain h1 {
  text-align: center;
  font-size: 4rem;
  margin-top: 150px;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  #safetyMain h1 {
    font-size: 3rem;
    margin-top: 50px;
  }
}
.safetyDescribe {
  text-align: center;
  font-size: 2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.guestContainer {
  display: flex;
  margin-left: 10%;
}
@media (max-width: 500px) {
  .guestContainer {
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
  }
}
.guestContainer h5 {
  font-size: 2rem;
  font-weight: bold;
}
.guestContainer p {
  margin-left: 10px;
  font-size: 2rem;
  width: 70%;
}
.guestContainer img {
  height: auto;
  width: 40%;
}
@media (max-width: 1200px) {
  .guestContainer img {
    width: 50%;
  }
}
@media (max-width: 1000px) {
  .guestContainer img {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .guestContainer img {
    width: 80%;
  }
}
.safetyTestimony {
  margin-left: 0;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (max-width: 1000px) {
  .safetyTestimony {
    flex-wrap: wrap;
  }
}
#statement {
  font-family: 'Dancing Script', cursive;
  font-size: 3.5rem;
  width: 35%;
  text-align: center;
  padding-left: 10px;
  padding-top: 30px;
}
@media (max-width: 1000px) {
  #statement {
    width: 80%;
  }
}
#safetyMain h3 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  #safetyMain h3 {
    font-size: 2.5rem;
    padding-left: 5%;
    padding-right: 5%;
  }
}
#contactHeader h1 {
  font-size: 5rem;
  text-align: center;
  margin-top: 150px;
}
@media (max-width: 500px) {
  #contactHeader h1 {
    font-size: 4rem;
  }
}
#contactAssist {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
@media (max-width: 500px) {
  #contactAssist {
    flex-direction: column;
    align-items: center;
  }
}
#contactAssist img {
  display: block;
  height: auto;
  width: 25%;
}
@media (max-width: 1000px) {
  #contactAssist img {
    width: 35%;
  }
}
@media (max-width: 500px) {
  #contactAssist img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
#contactAssist ul {
  padding-left: 5%;
  padding-top: 5%;
  font-size: 2.5rem;
}
#contactAssist li {
  line-height: 2.5;
}
#contactInfo {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 50px;
}
@media (max-width: 500px) {
  #contactInfo {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 100px;
  }
}
#contactInfo h3 {
  font-size: 3rem;
  text-decoration: underline;
  margin-bottom: 10px;
}
#contactInfo p {
  font-size: 2rem;
}
#contactInfoLeft {
  padding-right: 5%;
}
@media (max-width: 500px) {
  #contactInfoLeft {
    padding: 0;
    margin-top: 50px;
  }
}
#contactInfoRight {
  padding-left: 5%;
}
@media (max-width: 500px) {
  #contactInfoRight {
    padding: 0;
    padding-right: 10px;
  }
}
#contactInfoCenter {
  height: 100%;
  border-left: 1px solid white;
}
@media (max-width: 500px) {
  #contactInfoCenter {
    display: none;
  }
}
