#contactHeader {
    h1 {
        font-size: 5rem;
        text-align: center;
        margin-top: 150px;
    }    
}

#contactAssist {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    img {
        display: block;
        height: auto;
        width: 25%;      
    }

    ul {
        padding-left: 5%;
        padding-top: 5%;
        font-size: 2.5rem;        
    }

    li {
        line-height: 2.5;
    }
}

#contactInfo {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    margin-bottom: 50px;

    h3 {
        font-size: 3rem;
        text-decoration: underline;
        margin-bottom: 10px;
    }

    p {
        font-size: 2rem;
    }
}
