body {
    width: 80%;
    margin: 0 auto;

    @media (max-width: 500px) {
        width: 100%;
    }
}

.top-content {
    display: flex;
    border-bottom: 1px solid @color3;
    padding-bottom: 2rem;

    .intro {
        display: flex;
        flex-direction: column; 

        img {
            padding: 2rem 0;
            width: 100%;
            height: 50rem;
            object-fit: cover;

            @media (max-width: 800px) {
                width: 100%;
                height: auto;
            }
        }

        h1 {
            margin: 2rem 0;

            @media (max-width: 500px) {
                margin: 2rem 2rem;
                text-align: center;
            }
        }

        p {
            @media (max-width: 500px) {
                margin: 0 2rem;
            }
        }

        button#experience-button {
            border: 1px solid white;
            border-radius: 5px;
            align-self: center;
            margin-left: 0px;
            
        }

    }

    
    
}

.experiences {
    display: block;
    margin: 2rem;

    h2 {
        margin: 2rem 0;

        @media (max-width: 500px) {
            text-align: center;
        }
    }

    .featured {
        display: flex;
        justify-content: space-evenly;

        @media (max-width: 500px) {
            flex-direction: column;
            align-items: center;
        }
        
        .card {
            background-color: @color4;
            width: 18rem;

            @media (max-width: 500px) {
                margin: 2rem 0;
                width: 80%;
            }
    
            .card-body a {
                margin-left: 0px;
            }
    
            img {
                width: 100%;
                height: 20rem;
                object-fit: cover;
            }
        }
    }

    
}
